{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> {{ title }} for {{ tutorSet.title }}</legend>
                {{ form|crispy }}
                {{ formset.management_form }}

                <h3>Options</h3>

                <table role="grid">
                    <thead>
                        <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Text</th>
                            <th scope="col">Correct</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr>
                                <td> {{ form.id }}{{ form.order }} </td>
                                <td> {{ form.text }}</td>
                                <td> {{ form.correct }} </td>
                                {% if form.instance.pk %}
                                    <td> {{ form.DELETE}} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
                <a class="btn btn-outline-info" href="#" data-toggle="modal" data-target="#confirmDelete">Delete Question</a>
            </div>
        </form>

    </div>

    <div class="modal" id="confirmDelete">
       <div class="modal-dialog">
          <div class="modal-content">

             <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
             </div>
             <div class="modal-body">
                Are you sure you want to delete {{ tutorSet.title }}?
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{% url 'question-delete' question_pk=question.pk %}">Delete</a>
             </div>

          </div>
       </div>
    </div>

{% endblock content %}