{% extends "home/base.html" %}
{% load static %}
{% block content %}

<h2>{{score}} / {{tutorSet.question_set.count }}</h2>

{% for question in questionSet %}
    {{ question.prompt }}

    <form method="POST">
        {% csrf_token %}
        {% for option in question.option_set.all %}
            <div class="radio ml-4 m-2">
                <label><input class="mr-2" id="{{ option.id }}" type="radio" name="option-radio" value="{{ option.id }}">{{ option.text }}{{option.correct}}</label>
            </div>
        {% endfor %}

    </form>
{% endfor %}

{% if questionSet.has_previous %}
    <a class="btn btn-outline-info mb4" href="?page={{ questionSet.previous_page_number }}">Previous</a>
{% endif %}

{% if questionSet.has_next %}
    <a class="btn btn-outline-info mb4" href="?page={{ questionSet.next_page_number }}">Next</a>
{% else %}

{% endif %}

<form action="{% url 'finish-quiz' tutorset_pk=tutorSet.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-outline-info mb4" type="submit">Finish</button>
</form>

<script src="{% static 'tutor_sets/grade.js' %}">
</script>

<script >
    alert('in alert')
</script>

{% endblock content %}